doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel = "stylesheet", href = "/bootstrap/dist/css/bootstrap.min.css")
    link(rel = "stylesheet", href = "/css/app.css")
  body
    div.container
      ul.routes
    script(src = "/modernizr/modernizr.js")
    script(src = "/requirejs/require.js")
    script(src = "/js/setup.js")
