doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel = "stylesheet", href = "/bootstrap/dist/css/bootstrap.min.css")
    link(rel = "stylesheet", href = "/css/app.css")
    meta(name="viewport", content="width=500px, user-scalable=no")
  body
    div.container
      .hero
        h1 DepartureDeck
        p.coords-msg Showing MUNI stops near 
          span.coords-disp ...
    script(src = "/modernizr/modernizr.js")
    script(src = "/requirejs/require.js")
    script(src = "/js/setup.js")
