ul.route-list
  each route,routeName in stops
    li
      div.route-title
        div.route-tag= routeName.replace(/-.+$/, "")
        div.route-name= routeName.replace(/^[^-]+-/, "")
        div.clearfix
      ul.stop-list
        each stop,stopName in route
          li
            div.stop-name= stopName
            ul.direction-list
              each direction in stop
                li(data-stop-tag= direction.stopTag)